.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  border-bottom: 1px solid grey;
}

.input-label {
  width: 150px;
}

.row-item {
  width: 100%;
  padding: 8.5px 14px;
}

.add-button{
  width: 50px;
  border-radius: 50px;
}
