.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: grid;
  grid-template-columns: 50px 100px 120px 200px 150px 90px 90px 150px 150px 80px 95px;
  border-bottom: 1px solid grey;
}

/* .row > * {
  padding: 8.5px 14px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
} */

.row-item {
  padding: 8.5px 14px;
}

.add-button{
  width: 50px;
  border-radius: 50px;

}


.error-border {
  border: 2px solid red;
  border-radius: 4px;
  height: 20px;
}

.hidden {
  display: none;
}

.error-message {
  opacity: 0;
  margin-left: 10px;
  height: 50px;
  margin-bottom: 10px;
}

.error-message.visible {
  opacity: 1;
}


