.tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:300px;
  padding: 20px;
  min-height: 100vh; /* Center vertically */
  background-color: #f9f9f9; /* Optional: Background color for the entire container */
}

.table {
  width: 120vh;
  border: 1px solid #ddd;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 20px 0; /* Optional: Margin around the table */
}

.tableHead {
  background-color: #f5f5f5;
}

.tableRow {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.tableHeaderCell, .tableCell {
  flex: 1;
  padding: 15px; /* Increased padding for better spacing */
  text-align: left;
  box-sizing: border-box; /* Ensure padding doesn't affect the size */
}

.tableHeaderCell {
  font-weight: bold;
}

.inputField {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px; /* Optional: Rounded corners */
  outline: none;
  padding: 8px;
}

.inputField:focus {
  border: 1px solid #007bff;
}

.addButton {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px; /* Space between input and error message */
}

.tableRow:hover .tableCell {
  background-color: #f1f1f1;
}

.tableCell {
  cursor: pointer;
  display: flex;
  align-items: center; /* Center content vertically */
}

.tableCell input {
  font-size: inherit;
  padding: 0;
}
